{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}navbar-brand
    <div class="page-header">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
    </div>
    <div>
        <img style="width: 150px" src="https://h24-public-website.s3.eu-west-3.amazonaws.com/images/logo-noir-sur-fond-blanc.jpeg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEF4aCWV1LXdlc3QtMyJHMEUCIQC9gj3siusPsllVb31I0A%2BLUo1InlqluPcQapttvxzNyAIgS6YMbpFi5AxYmokvDuS0AzEchUv2dz3KxlP5K2ubxIkq5AIIFxAAGgw5MDcxNDA2NjE0ODciDHOliUxQEByp0QBuxirBAv83oI3jOe%2B5wlakV93ZgbjxIReZ9RnEZ9t2vzQKXFRu4xciZLXIuoC%2F5XGGE9mHkPQwVa0PqhjUkfj4DPMs9LuTF9eXaXr0HCY6cfrAdL7tIN5YYzAYjkVp2cfGloBPBq9Gun0gpFsxrtmxyd4i6%2B1RU4ARnxQac7UjNSfct43w5lSp0ZkIEUZG7AOl1P8M05F25iLLsfCwRSHcN2SKN369%2Bg%2BmGSxGFvwdKMafqh7erwQd1j0b0N5EjWtl5uUfJo1GRN0k61X3ZggovDm8vPZpnyKQlIZ71pGrUCta2F6NpVXEAV%2BpMg0Fey0ji6iCNiJnbK8W%2B%2Foy8K79GLW3rMUbog2LhFbKLI8pdMa%2FJiwaG5Wcv7KUgcHpTZsOSLW6Yhnm2U0zOrDSRZCJlMfA6V92gNM1NhycnaPNDV80BTdjWDDr1ZegBjqzAry%2BecZBYVVhf4QSBkjVydLORaY31KnT1VAnc0dJvyw5Mkaexeb%2F2t1Qm8MICRkhZHV%2BQqN4w7HX79ZXoR8dPWmGZ1S2uTxast9z8Aosk%2B%2Fc2%2FFP7WXrN0tMEoJHqG28kss2X1T2JSnFUuR2eTfwAnO6BKVSnTuFxgZRM%2FKoRwyltuhfWon3Jvt%2BO42SkFQj5On6n9uuz6QrxH%2BBo62Vr0KCvfqlWUFBM1azX1E73kNXKmRCXzBAtOEvX0WFvfTkzrZ6AGcNeCKBBGGtDHs9wH%2FuMJ%2FigF2GnvJnLx6ohzIUPrmpVFUgK88OKCqAjoCxCgxZPdbCu5848FA0X%2FCCrKbfLy2BEquTEKu6r4Rvi1UyLkoUIz5Nm4xhY7m5GdLLgLFGgM28hyl3AIonehhhqhVM7x4%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230306T135511Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA5GNOMADXUPYF435J%2F20230306%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Signature=70f5d6f7a6e8d365e3a37f5a30b8dcbb1fd91008b132e314fb5c22dc99e675d9" alt="">
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_app'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('blog_index') }}">
                        <i class="fa fa-users" aria-hidden="true"></i> {{ 'action.browse_app'|trans }}
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_admin'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_index') }}">
                        <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_admin'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
